<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="assets/icons/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/vue@3"></script>

    <title>florenciaarezzo.com</title>
  </head>

  <body>
    <!-- Hero -->
    <div id="landingHero">
      <div @scroll="handleScroll" :style="styleObject">
        <div v-if="isMobileViewport === false">
          <h1 class="hero-title">FlorenciaArezzo</h1>
        </div>
        <div v-if="isMobileViewport === true">
          <h1 class="hero-title" style="letter-spacing: 0.9rem;">FlorenciaArezzo</h1>
        </div>
        
        <h3 class="hero-subtitle">3DDesigner</h3>
        <p class="click-me" @click="playVideo">CLICK</p>
        <div class="navbar">
          <div class="nav-item px-3">About</div>
          <div class="nav-item px-3">Projects</div>
        </div>
        <video
          id="hero-video"
          :src=`assets/videos/${heroVideo}#t=0.1`
          @click="playVideo"
          loop
          muted
          playsinline
        ></video>
        <div class="down-arrow"></div>
        <div></div>
      </div>
    </div>
    <!--  -->

    <!-- Content -->

    <div id="landingBody">
      <div @scroll="handleScroll" :style="styleObject">
        <img src="assets/images/landing-image.jpg" />
        
        <!-- Footer -->

        <hr />
        <div :style="{ 'height': footerHeight + 'px' }">
          <div class="container">
            <div class="row align-items-center justify-content-center py-3 my-4">
              <div class="col-auto">
                <a href="#" class="nav-link footer-text">
                  florencia.arezzo@base9.one
                </a>
              </div>
              <div class="col-auto">
                <a href="#" class="nav-link text-white">
                    <img
                      class="footer-icon"
                      src="assets/icons/email.png"
                      alt="email"
                    />
                  </a>
              </div>
              <div class="col-auto">
                <div class="divider"></div>
              </div>
              <div class="col-auto">
                  <a href="#" class="nav-link px-2 text-white"
                    ><img
                      class="footer-icon"
                      src="assets/icons/insta.png"
                      alt="instagram"
                  /></a>
              </div>
              <div class="col-auto">
                <div class="divider"></div>
              </div>
              <div class="col-auto">
                <a href="#" class="nav-link px-2 text-white"
                    ><img
                      class="footer-icon"
                      src="assets/icons/linkedin.png"
                      alt="linkedin"
                  /></a>
              </div>
               <div class="col-auto">
                <div class="divider"></div>
              </div>
              <div class="col-auto">
                <a href="#" class="nav-link px-2 text-white"
                    ><img
                      class="footer-icon"
                      src="assets/icons/whatsapp.png"
                      alt="whatsapp"
                  /></a>
              </div>
                <div class="col-auto footer-text mt-2">
                +34 672 369 961
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->

      </div>
    </div>

    <!-- Content -->

    <!-- Scripts -->
    <script src="app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!--  -->
  </body>
</html>
