@font-face {
  font-family: "DolceVitaBold";
  src: url("assets/fonts/DolceVitaHeavyBold.ttf");
}

@font-face {
  font-family: "DolceVita";
  src: url("assets/fonts/DolceVita.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf");
}

.click-me {
  position: absolute;
  text-align: center;
  top: 65%;
  left: calc(100% - 9rem);
  font-family: "DolceVitaHeavyBold";
  z-index: 1;
  color: #fff;
  font-size: 0.8rem;
  border: #fff solid 4px;
  border-radius: 5rem;
  animation: pulsate 4s infinite;
  transform: rotate(20deg);
}

@keyframes pulsate {
  0% {
    opacity: 1;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }
  50% {
    opacity: 0.4;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
  }
  100% {
    opacity: 1;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }
}

.down-arrow {
  position: absolute;
  top: 92%;
  left: 50%;
  animation: jumpInfinite 2.5s infinite;
  color: #fff;
}

.down-arrow:after {
  content: "";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}
