@font-face {
  font-family: "DolceVitaBold";
  src: url("assets/fonts/DolceVitaHeavyBold.ttf");
}

@font-face {
  font-family: "DolceVita";
  src: url("assets/fonts/DolceVita.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("assets/fonts/MYRIADPRO-REGULAR.OTF");
}

.margin-0 {
  margin: 0;
}

.margin-3 {
  margin: 3rem;
}

.margin-x-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-x-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.dolcevitabold {
  font-family: "DolceVitaBold";
}

.myriadpro {
  font-family: "MyriadPro";
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.top-50 {
  top: 50%;
}

.top-65 {
  top: 65%;
}

.left-50 {
  left: 50%;
}

.right-10 {
  right: 10%;
}

.color-white {
  color: white;
}

.rotate-minus-20 {
  transform: rotate(-20deg);
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-10 {
  font-size: 1rem;
}

.font-size-08 {
  font-size: 0.8rem;
}

.font-size-05 {
  font-size: 0.5rem;
}

.letter-spacing-20 {
  letter-spacing: 2rem;
}

.letter-spacing-16 {
  letter-spacing: 1.6rem;
}

.letter-spacing-10 {
  letter-spacing: 1rem;
}

.letter-spacing-5 {
  letter-spacing: 0.5rem;
}

.letter-spacing-01 {
  letter-spacing: 0.1rem;
}

.margin-top-10 {
  margin-top: 1rem;
}

.click-me {
  position: absolute;
  top: 63.5%;
  right: 9.6%;
  z-index: 1;
  color: #fff;
  font-size: 0.8rem;
  border: #fff solid 3px;
  border-radius: 5rem;
  animation: pulsate 4s infinite;
  height: 4rem;
  width: 4rem;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 1;
  }
}

.down-arrow {
  position: absolute;
  top: 92%;
  left: 50%;
  animation: jumpInfinite 2.5s infinite;
  color: #fff;
}

.down-arrow:after {
  content: "";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

.grid-bg {
  background-image: url("assets/images/Background-04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ProgressBar {
  position: absolute;
  z-index: 30;
  width: 50%;
  padding: 2rem;
  background-color: rgb(17, 17, 17);
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#Progress {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: #ffffff;
  height: 3%;
  border-radius: 7px;
  border-color: #ffffff;
  animation-name: progressBar;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#ProgressBarCanvas {
  position: absolute;
  z-index: 30;
  width: 30%;
  padding: 1rem;
  background-color: rgb(17, 17, 17);
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#ProgressCanvas {
  position: fixed;
  top: 50%;
  left: 60%;
  margin-left: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("assets/patterns/canvas_loading_bg.svg");
  height: 1%;
  border-radius: 10px;
  animation-name: progressBarCanvas;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes progressBar {
  0% {
    width: 10%;
  }
  
  100% {
    width: 30%;
  }
}

@keyframes progressBarCanvas {
  0% {
    width: 10%;
  }
  
  100% {
    width: 20%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  80% {
    opacity: 1;
    visibility: visible;
  }
  
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


.active-button {
  padding: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
}

.inactive-button {
  padding: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}